

<div class="container">

    <p class=" cuerpo text-justify m-5 p-10">North-based clothing brand, representing our aesthetics through the pieces we bring to life.
        Our first release “First Capsule Collection” intends to be a statement of the direction we are taking.
        Our aesthetics aims to represent who we are, our essence, which is urban inspired, with the conexion to the purity and cleanliness of the elegant.
        However, we don’t believe in a fixated image or approach, we are ever evolving and
         ever growing. So, from all of our team, we believe what would best describe our philosophy is:</p>

    
</div>