@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.cuerpo{
    font-family: 'Source Sans Pro', sans-serif;

}

.container{
width: 60%;
font-size: 26px;



}

.slider{
width: 80%;
height: 300px;
padding-left: 20px;
padding-right: 20px;
margin: 0px auto;


}
