<div class="container">

<!-- Zoom en la artículo -->


    <div class="row">

        <div class="block span3 zoom">

            <div class="product ">
               <img   src="http://placehold.it/295x190/333333/FFFFFF">
                
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>


        <div class="block span3 zoom">

            <div class="product">
                <img  src="http://placehold.it/295x190/333333/FFFFFF">
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>

        <div class="block span3 zoom">

            <div class="product">
                <img src="http://placehold.it/295x190/333333/FFFFFF">
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>

        <!-- Zoom en la imágen-->
    
    
    
    
    
    </div>
    <div class="row">

        <div class="block span3">

            <div class="product">
                <img  class="zoom" src="http://placehold.it/295x190/333333/FFFFFF">
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>


        <div class="block span3">

            <div class="product">
                <img  class="zoom" src="http://placehold.it/295x190/333333/FFFFFF">
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>

        <div class="block span3">

            <div class="product">
                <img class="zoom" src="http://placehold.it/295x190/333333/FFFFFF">
            </div>

            <div class="info">
                <h5>Camiseta básica</h5>
                <span class="price">$62.97</span>
            </div>
        
        </div>

        
    
    
    
    
    
    </div>
</div>